form {
   font-size: 0.8rem;
   border: 1px solid #ddd;
   font-weight: 400;
}

input,
label {
   height: 1.7rem;
   padding: 3px !important;
}

input {
   text-align: right;
   font-size: 0.8rem !important;
}

span.select2-container {
   font-size: 0.8rem;
   width: 100% !important;
   text-align: left !important;
   /* z-index: 10050; */
}

#filterRotaForm input {
   width: 100%;
}

.simulacao {
   display: flex;
   justify-content: space-between;
   max-width: 388px;
   align-items: center;
   /* border: 1px red solid; */
}
/*
.btn-filter {
   margin-top: 20px;
   margin-bottom: 0 !important;
}

.filter-btn:hover {
   background-color: green !important;
}

.filter-simulador {
   padding: 10px;
   border: 1px #dfdfdf solid;
   margin-bottom: 10px;
}

.filter-origem-destino {
   width: 60%;
   padding: 5px;
}

.output-ncm {
   width: 25%;
   padding: 5px;
}

.output-origem {
   width: 15%;
   padding: 5px;
}

.output-ncm input,
.output-origem input {
   width: 100%;
   font-size: 0.7rem !important;
   padding: 2px !important;
   text-align: left;
   height: 28px !important;
} */

.simulation-filter {
   display: flex;
   flex-direction: column;
   font-size: 0.7rem;
   margin-bottom: 0;
}

.simulation-filter-1 {
   display: flex;
   flex-direction: row;
}

span ul li {
   font-size: 0.7rem;
   width: 100%;
}

span span input[type="search"].select2-search__field {
   text-align: left;
   padding-left: 5px !important;
}

.simulation-filter-2 {
   display: flex;
   flex-direction: row;
   align-items: flex-end;
   margin-top: 5px;
}

.simulation-output {
   display: flex;
   flex-direction: row;
   align-items: flex-end;
   /* margin-left: 5px; */
   margin-bottom: 10px;
}

.simulation-filter label {
   font-weight: bold;
   padding: 0 !important;
   height: auto;
}

.filter-produto {
   margin-right: 7px;
}

.filter-produto select {
   width: 100%;
}

.filter-micro_regiao {
   width: 35%;
   margin-right: 5px;
}

.filter-micro_regiao select {
   width: 120px;
   font-size: 0.8rem;
   padding: 0 !important;
}

.filter-segmento select {
   width: 235px !important;
   font-size: 0.8rem;
   padding: 0 !important;
}

.filter-origem-destino select {
   width: 225px !important;
   font-size: 0.8rem;
   padding: 0 !important;
}

.filter-produto select {
   width: 330px !important;
   font-size: 0.8rem;
   padding: 0 !important;
}

.short-cut i {
   cursor: pointer;
   font-size: 1rem !important;
}

.filter-segmento {
   width: 65%;
}

.filter-segmento select {
   width: 100%;
}

.num-simulacao {
   display: flex;
   justify-content: space-between;
   max-width: 388px;
   height: 60px;
   padding: 5px 15px;
   align-items: center;
   border-radius: 10px;
   background: linear-gradient(145deg, #e6e6e6, #ffffff);
   box-shadow: 6px 6px 24px #dedede, -6px -6px 24px #ffffff;
   color: #000;
}

.num-simulacao h6 {
   font-size: 16px !important;
}

.detail-simulation span {
   height: 27.2px !important;
}

.detail-simulation li {
   background: #ffffff;
}

.produto-simulador {
   border: none;
   color: #000;
   text-align: left;
   font-weight: bold;
}

.detail-simulation input {
   width: 100%;
   text-align: left;
   border-radius: 4px;
}

.detail-simulation label {
   margin: 0;
   padding: 0 !important;
   height: 14px;
   font-weight: 600;
}

.detail-simulation {
   display: flex;
   max-width: 388px;
   align-items: center;
   margin-bottom: 8px;
   font-size: 0.7rem;
   margin-top: 20px;
}

.simulacao h1,
.title-h1 {
   font-size: 1.2rem;
}

.simulacao i,
.num-simulacao i {
   cursor: pointer;
   /* font-weight: bold; */
   font-size: 1.5rem;
}

.simulacao h6 {
   margin: 0;
}

/* .bases-update {
   display: block;
   flex-direction: column;
} */

/* .select-base {
   display: flex;
   height: 35px;
   flex-direction: row;
   align-items: center;
   margin-top: 5px;
} */

/* .bases-update select {
   font-size: 15px;
   height: 35px;
   padding: 0 5px;
} */

/* .loading {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   width: 100%;
   z-index: 10;
   top: 30%;
   left: 0;
   right: 0;
}

.loading img {
   width: 64px;
   height: 64px;
} */

/* .list-bases {
   margin-top: 40px;
}

.list-bases h4 {
   margin-bottom: 10px;
} */

.tt-metric {
   padding: 0 2px;
}

.total-metric {
   background-color: #edf1f2;
   font-weight: 500;
   border-bottom: 1px #fff solid;
}

.title-metric {
   background-color: #edf1f2;
   font-weight: 500;
   border-bottom: 1px #fff solid;
   height: 1.7rem;
   padding: 0 !important;
}

.total-strong {
   background-color: #d6d6d6;
   font-weight: 500;
   align-items: center;
}

.total-strong input {
   background-color: #d6d6d6;
   border: none;
   height: 1.7rem;
}

.total-metric input {
   background-color: #edf1f2;
   border: none;
   border-radius: 0;
   height: 1.7rem;
}

.metric {
   width: 41.5% !important;
   align-items: center;
   height: 1.7rem;
}

.pct-metric {
   width: 24% !important;
   margin-right: 1%;
}

.vl-metric {
   width: 30% !important;
}

sup {
   color: red;
   font-weight: bold;
   font-size: 12px !important;
   margin-left: 3px;
}

.info-metric {
   cursor: pointer;
}

.tt-metric {
   width: 57% !important;
   font-weight: 500 !important;
}

.container-simulation {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   /* border: 1px red solid; */
   padding-bottom: 2rem;
   justify-content: center;
}

.section-didatico {
   margin-right: 3rem;
   max-width: 388px;
}

.container-didatico {
   max-width: 388px;
   margin-bottom: 2rem;
   /* border: 1px red solid; */
}

.div-form {
   max-width: 388px;
   margin-right: 0 !important;
}

.input-value {
   background-color: #fbfbbd !important;
}

@media screen and (max-width: 576px) {
   .section-didatico {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 0 30px 0 !important;
      padding: 0 !important;
      width: 100% !important;
   }

   .container-didatico {
      max-width: 403px;
   }

   .div-form {
      width: 400px;
   }
}
