<!DOCTYPE html>
<html lang="pt-BR">
   <head>
      <meta charset="UTF-8" />
      <title>Pricing Tech - Simulador Didático</title>
      <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" />

      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link href="https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600&display=swap" rel="stylesheet" />

      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

      <link rel="stylesheet" href="./css/vendor/font-awesome.min.css" />

      <link rel="stylesheet" href="./css/style.css" />
      <link rel="stylesheet" href="./css/didatic.css" />
      <link rel="stylesheet" href="./css/bootstrap.min.css" />

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

      <script
         src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
         integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A=="
         crossorigin="anonymous"
         referrerpolicy="no-referrer"></script>

      <link rel="stylesheet" href="./css/sidebar.css" />

      <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css" />

      <link rel="shortcut icon" href="./img/favicon.png" type="image/png" />
   </head>
   <body>
      <div id="sidebar" class="sidebar close"></div>
      <section class="home-section">
         <header class="home-header">
            <div class="text">
               <img src="./img/logo_branco-azul.png" alt="logo-pt" />
            </div>
            <div class="header-notification">
               <div id="notifications" class="notifications"></div>
               <a href="#" class="profile" title="Minha Conta" onclick="editProfile()">
                  <img id="fotoPerfil" src="./img/user.png" alt="" />
               </a>
            </div>
            <div class="menu-mobile">
               <i class="bx bx-menu" id="menu-mobile"></i>
            </div>
         </header>
         <div class="container-title simulacao">
            <h1>Simulador didático</h1>
            <i id="add-simulation" title="Adicionar Simulação" class="bx bx-list-plus"></i>
         </div>
         <input id="qtde-simulation" type="hidden" value="0" />
         <main id="container" class="container-simulation"></main>
      </section>

      <!-- Filter Modal -->
      <div class="modal fade" id="filterRotaModal">
         <div class="modal-dialog modal-lg">
            <div class="modal-content">
               <div class="modal-header bg-info text-white">
                  <h5 class="modal-title">Selecionar Rota</h5>
                  <button class="btn-close" data-dismiss="modal"></button>
               </div>
               <div class="modal-body ml-3 mr-3">
                  <input id="simulation-number" type="hidden" />
                  <form id="filterRotaForm" class="row g-3" action="" method="post">
                     <div class="col-md-2">
                        <label for="micro_regiao">Micro Região</label>
                        <select class="form control select2-micro_regiao" name="micro_regiao" id="micro_regiao">
                           <option value="0" selected></option>
                        </select>
                     </div>
                     <div class="col-md-5">
                        <label for="segmento">Segmento</label>
                        <select class="select2-segmento" name="segmento" id="segmento">
                           <option value="0" selected></option>
                        </select>
                     </div>

                     <div class="col-md-5">
                        <label for="produto">Produto</label>
                        <select class="select2-produto" name="produto" id="produto">
                           <option value="0" selected></option>
                        </select>
                     </div>

                     <div class="">
                        <h6 class="mt-3">Detalhes da busca</h6>
                     </div>

                     <div class="col-md-2">
                        <label for="micro-regiao-filter">Micro Região</label>
                        <input class="text-start" type="text" disabled name="micro-regiao-filter" id="micro-regiao-filter" />
                     </div>
                     <div class="col-md-5">
                        <label for="segmento-filter">Segmento</label><br />
                        <input class="text-start" type="text" disabled name="segmento-filter" id="segmento-filter" />
                     </div>
                     <div class="col-md-5">
                        <label for="produto-filter">Produto</label>
                        <input class="text-start" type="text" disabled name="produto-filter" id="produto-filter" />
                     </div>

                     <!-- <div class="col-md-5">
                        <label for="origem-destino">Origem / Destino</label>
                        <select class="select2-origem_destino" disabled name="origem-destino" id="origem-destino"></select>
                     </div> -->
                     <div class="col-md-5">
                        <label for="origem-destino">Origem / Destino</label>
                        <input class="text-start" type="text" disabled name="origem-destino" id="origem-destino" />
                     </div>

                     <div class="col-md-2">
                        <label for="area-incentivada">Incentivada</label>
                        <input class="text-start" type="text" disabled name="area-incentivada" id="area-incentivada" />
                     </div>

                     <div class="col-md-2">
                        <label for="ncm">NCM</label><br />
                        <input class="text-start" type="text" disabled name="ncm" id="ncm" />
                     </div>
                     <div class="col-md-1">
                        <label for="origem">N/I</label>
                        <input class="text-start" type="text" disabled name="origem" id="origem" />
                     </div>
                     <div class="col-md-2">
                        <label for="cesta-basica">Cesta Básica</label>
                        <input class="text-start" type="text" disabled name="cesta-basica" id="cesta-basica" />
                     </div>

                     <div class="modal-footer mt-4 col-md-12">
                        <button class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="button" id="btn-filter" class="btn btn-primary">Buscar</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>

      <!-- Modal Confirm -->
      <div class="modal fade" id="modal-confirm" tabindex="-1" role="dialog" aria-labelledby="modal-confirm-label" aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="modal-confirm-label">Sair do site?</h5>
                  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Fechar">
                     <span aria-hidden="true"></span>
                  </button>
               </div>
               <div class="modal-body">
                  <p id="modal-confirm-message"></p>
               </div>
               <div class="modal-footer">
                  <button id="cancel-confirm" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <button id="confirm-confirm" type="button" class="btn btn-danger">Deixar</button>
               </div>
            </div>
         </div>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
      <script src="./js/bootstrap.min.js"></script>
      <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.min.js"></script> -->

      <script src="./js/sidebar.js"></script>
      <script src="./js/simulation.js"></script>
      <script src="./js/calculation/calculation.js"></script>
      <script src="./js/filterSimulation.js"></script>
      <script src="./js/script.js"></script>
      <script src="./js/users/notifications.js"></script>

      <script>
         function getNumberSimulation(simulationNumber) {
            selectRoute(simulationNumber);
         }
      </script>

      <script src="./js/vendor/html2pdf.bundle.min.js"></script>
      <link
         rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
         integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw=="
         crossorigin="anonymous"
         referrerpolicy="no-referrer" />

      <script src="https://unpkg.com/notie"></script>
   </body>
</html>
