<!DOCTYPE html>
<html lang="pt-BR">
   <head>
      <meta charset="UTF-8" />
      <title>Pricing Tech - Simulador Didático</title>
      <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" />

      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link href="https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600&display=swap" rel="stylesheet" />

      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

      <link rel="stylesheet" href="./css/style.css" />
      <link rel="stylesheet" href="./css/dashboard.css" />

      <link rel="stylesheet" href="./css/vendor/font-awesome.min.css" />
      <link rel="stylesheet" href="./css/vendor/bootstrap.css" />

      <link rel="stylesheet" href="./css/sidebar.css" />

      <link rel="shortcut icon" href="./img/favicon.png" type="image/png" />
   </head>
   <body>
      <div id="sidebar" class="sidebar close"></div>
      <section class="home-section" style="background: #5f5f8e">
         <header class="home-header">
            <div class="text">
               <img src="./img/logo_branco-azul.png" alt="logo-pt" />
            </div>
            <div class="header-notification">
               <a href="#" class="notification">
                  <i class="bx bxs-bell"></i>
                  <span class="num">1</span>
               </a>
               <a href="#" class="profile" title="Minha Conta" onclick="editProfile()">
                  <img id="fotoPerfil" src="./img/user.png" alt="" />
               </a>
            </div>
            <div class="menu-mobile">
               <i class="bx bx-menu" id="menu-mobile"></i>
            </div>
         </header>

         <!-- <div class="container-title">
            <h1>Home</h1>
         </div> -->
         <main id="container" class="container-page">
            <div id="wrapper" class="mt-5">
               <div class="content-area">
                  <div class="container-fluid">
                     <div class="main">
                        <div class="row sparkboxes mt-5 py-4">
                           <div class="col-md-3">
                              <div class="box box1">
                                 <div class="details">
                                    <h3>Top 10</h3>
                                    <h4>PPAs</h4>
                                 </div>
                                 <div id="spark1"></div>
                              </div>
                           </div>
                           <div class="col-md-3">
                              <div class="box box2">
                                 <div class="details">
                                    <h3>Top 10</h3>
                                    <h4>Clientes</h4>
                                 </div>
                                 <div id="spark2"></div>
                              </div>
                           </div>
                           <div class="col-md-3">
                              <div class="box box3">
                                 <div class="details">
                                    <h3>Régua</h3>
                                    <h4>Canais</h4>
                                 </div>
                                 <div id="spark3"></div>
                              </div>
                           </div>
                           <div class="col-md-3">
                              <div class="box box4">
                                 <div class="details">
                                    <h3>Preços</h3>
                                    <h4>Dispersão</h4>
                                 </div>
                                 <div id="spark4"></div>
                              </div>
                           </div>
                        </div>

                        <div class="row mt-4">
                           <div class="col-md-5">
                              <div class="box shadow mt-4">
                                 <div id="radialBarBottom"></div>
                              </div>
                           </div>
                           <div class="col-md-7">
                              <div class="box shadow mt-4">
                                 <div id="line-adwords" class=""></div>
                              </div>
                           </div>
                        </div>

                        <div class="row mt-4">
                           <div class="col-md-5">
                              <div class="box shadow mt-4">
                                 <div id="barchart"></div>
                              </div>
                           </div>
                           <div class="col-md-7">
                              <div class="box shadow mt-4">
                                 <div id="areachart"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </main>
      </section>

      <!-- Modal Confirm -->
      <div class="modal fade" id="modal-confirm" tabindex="-1" role="dialog" aria-labelledby="modal-confirm-label" aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="modal-confirm-label">Sair do site?</h5>
                  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Fechar">
                     <span aria-hidden="true"></span>
                  </button>
               </div>
               <div class="modal-body">
                  <p id="modal-confirm-message"></p>
               </div>
               <div class="modal-footer">
                  <button id="cancel-confirm" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <button id="confirm-confirm" type="button" class="btn btn-danger">Deixar</button>
               </div>
            </div>
         </div>
      </div>

      <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
      <script src="./js/dashboard/dashboard.js"></script>

      <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"></script> -->
      <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script> -->
      <!-- <script src="../../../../dist/apexcharts.js"></script> -->

      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
      <script src="./js/bootstrap.min.js"></script>

      <script src="./js/sidebar.js"></script>
      <script src="./js/script.js"></script>
   </body>
</html>
