<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Pricing Tech - Login</title>

      <meta content="" name="description" />
      <meta content="" name="keywords" />

      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet" />

      <link href="./css/vendor/bootstrap.css" rel="stylesheet" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />

      <!-- Template Main CSS File -->
      <link href="./css/index.css" rel="stylesheet" />

      <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css" />

      <!-- Favicons -->
      <link rel="shortcut icon" href="./img/favicon.png" type="image/png" />
   </head>

   <body>
      <div class="page-container">
         <div class="form-container">
            <div id="login-form" class="auth-form active">
               <div class="logo-login">
                  <a href="https://www.pricingtech.com.br" target="_blank"><img src="./img/pricingtech_white.png" alt="Logo" class="logo" /></a>
               </div>
               <div class="auth-form__header">
                  <h1>Bem vindo!</h1>
               </div>
               <form class="form-login">
                  <div class="form-group input_wrapper">
                     <label for="userEmail">E-mail</label>
                     <input type="email" name="email" placeholder="E-mail" id="userEmail" aria-label="Email address" required />
                     <img alt="Email Icon" src="./img/icons/email.svg" class="email_icon" />
                  </div>
                  <div class="form-group input_wrapper">
                     <label for="userPassword">Senha</label>
                     <span class="popuptext" id="popup-caps">Caps Lock ligado!</span>
                     <input type="password" name="password" placeholder="Senha" id="userPassword" aria-label="Password" />
                     <img alt="Eye Icon" title="Mostrar senha" src="./img/icons/eye.svg" id="show_password" class="input_icon" />
                  </div>
                  <div class="centralize">
                     <a href="#" class="forgot-password" id="recover-password">Esqueceu sua senha?</a>
                  </div>
                  <div class="auth-form__footer">
                     <button type="submit" class="btn btn-fixo mt-3" id="btn-login">Entrar</button>
                  </div>
               </form>
            </div>
         </div>
      </div>

      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
      <script src="./js/bootstrap.min.js"></script>
      <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.min.js"></script> -->
      <script src="./js/index.js"></script>
      <script src="https://unpkg.com/notie"></script>
   </body>
</html>
